* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 10px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    background: url("../images/header.jpg") #eee;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center 50%;
    /* width: 100%;*/
    height: 22rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

#fila1 {
    display: flex;
/*     justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    /* padding: 5px; */
}

.item1,
.item3 {
    flex: 1px;
   /* margin: 10px;  */
}

.item1 img {
    width: 5em;
    margin-left: 30px;
}

.item2 {
    flex: 4;
}

.listSinPunto {
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #f18180;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

#fila2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 85%;
    /* */
    height: 200px;
}

.item4 {
    flex: 1;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(244, 148, 147, 0.9);
    /* text-shadow: 0px 1px rgba(100, 0, 0, 0.5); */
    background-color: rgba(192, 192, 192, 0.4);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

main {
    margin: 10px 0;
    display: flex;
    background-color: black;
    width: 100%;
    border: 12px solid black;
    gap: 12px;
}

section {
    flex: 2;
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 5px;
}

section>div {
    background-color: rgb(51, 98, 179);
    margin: 10px 10px 0 10px;
    gap: 5px;
    flex-basis: calc(50% - 20px);
    height: 20px;
}

section> :nth-child(5) {
    background-color: rgb(183, 209, 255);
    flex: 2;
    margin: 10px;
}

aside {
    flex: 1;
    background-color: rgb(255, 102, 0);
    display: flex;

    flex-flow: row wrap;
    justify-content: stretch;
    align-content: flex-start;
    padding: 5px;
}

aside>div {
    background-color: rgb(254, 249, 185);
    margin: 10px 10px 0 10px;
    flex: 1 1 100%;
    height: 20px;
}


footer {
    margin-top: 0px;
    background-color: rgb(255, 196, 0);
    width: 100%;
    height: 40px;
    align-items: space-between;
    border: 12px solid black;
}


/* tablet */
@media all and (max-width: 1024px) {
    .container {
        width: 100%;
    }

    main {
        flex-flow: column;
        border: 12px solid rgb(255, 247, 24);
        background-color: rgb(255, 247, 24);
    }

    aside :nth-child(2) {
        margin-bottom: 10px;
    }
}

/* MOVILES */
@media all and (max-width: 767px) {
    header {
        flex-flow: column;
    }

    #fila1 {
        flex-flow: column wrap;
        height: 100%;
    }

    .social {justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0;}

    .item1,
    .item2,
    .item3 {
        flex: 1;
        width: calc(100% - 20px);
        height: 17px
    }

    section {
        flex-flow: column;
        background-color: rgb(2, 82, 99);
    }

    section>div {
        background-color: rgb(102, 156, 164);
    }

    section> :nth-child(5) {
        background-color: rgb(151, 212, 197);
    }

    aside>div {
        flex: 1 80%;
        background-color: rgb(255, 171, 100);
    }
}